* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#wrap {
    max-width: 1200px;
    margin: auto;
}

#banner {
    width: 100%;
    margin-bottom: 10px;
}
#banner img {
    width: 100%;
}
#main_content {
    width: 100%;	
	position: relative;
}

#main_menu{				
    width: 15%;
    position: absolute;		
    padding: 10px;
}
#main_menu a{
    /* background-color: #becae0;	 */
    /*margin-bottom: 20px;		*/
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 25px;
    line-height: 1.2;			
    display: block;
    width: 100%;
    font-size: 30px;			
    text-decoration: none;
    text-align: center;
    color: #3B3131;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    font-weight: 1000;
}
#gallery {
    width: 100%;
}
.left-gallery {
    width: 15%;
    height: 1px;
    float:left;
}	
.right-gallery{
    width: 85%;
    float:left;
}
.card {
    float: left;
    padding: 8px;
    width: 25%;
}

.card img{
    width: 100%;
}

#back {
    position: fixed;
    right: 20px;
    bottom: 0px;

}
