* {
    box-sizing: border-box;
	}
	body {
		background-color:#FDEDEC;
		z-index:1;
		}

	#heading {
		background-image: url("../image/garden.jpg");
		background-position: center center;
		/* background-size: cover; */
		width: 800px;
		height: 415px;
		margin: auto;
		z-index:3;
		position: absolute;
		top: 22%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index:1;
		/* transform: scale(1.2); */
	}
	#first_pic {
		background-image: url("../icon/1.png");
		/* background-size: cover; */
		width: 100px;
		height: 100px;
		margin: auto;
		position: absolute;
		top: 475px;
		left: 26%;
		/* transform: translate(-50%,-50%); */
		z-index:18;
	}
	#second_pic {
		background-image: url("../icon/2.png");
		/* background-size: cover; */
		width: 100px;
		height: 100px;
		margin: auto;
		position: absolute;
		top: 475px;
		left: 46%;
		/* transform: translate(-50%,-50%); */
		z-index:18;
	}
	#third_pic {
		background-image: url("../icon/3.png");
		/* background-size: cover; */
		width: 100px;
		height: 100px;
		margin: auto;
		position: absolute;
		top: 475px;
		left: 66%;
		/* transform: translate(-50%,-50%); */
		z-index:18;
	}
	#fourth_pic {
		background-image: url("../icon/4.png");
		/* background-size: cover; */
		width: 100px;
		height: 100px;
		margin: auto;
		position: absolute;
		top: 675px;
		left: 26%;
		/* transform: translate(-50%,-50%); */
		z-index:18;
	}
	#fifth_pic {
		background-image: url("../icon/5.png");
		/* background-size: cover; */
		width: 100px;
		height: 100px;
		margin: auto;
		position: absolute;
		top: 675px;
		left: 46%;
		/* transform: translate(-50%,-50%); */
		z-index:18;
	}
	#sixth_pic {
		background-image: url("../icon/6.png");
		/* background-size: cover; */
		width: 100px;
		height: 100px;
		margin: auto;
		position: absolute;
		top: 675px;
		left: 66%;
		/* transform: translate(-50%,-50%); */
		z-index:18;
	}
	#seventh_pic {
		background-image: url("../icon/7.png");
		/* background-size: cover; */
		width: 100px;
		height: 100px;
		margin: auto;
		position: absolute;
		top: 875px;
		left: 26%;
		/* transform: translate(-50%,-50%); */
		z-index:18;
	}
	#eighth_pic {
		background-image: url("../icon/8.png");
		/* background-size: cover; */
		width: 100px;
		height: 100px;
		margin: auto;
		position: absolute;
		top: 875px;
		left: 46%;
		/* transform: translate(-50%,-50%); */
		z-index:18;
	}
	#nineth_pic {
		background-image: url("../icon/9.png");
		/* background-size: cover; */
		width: 100px;
		height: 100px;
		margin: auto;
		position: absolute;
		top: 875px;
		left: 66%;
		/* transform: translate(-50%,-50%); */
		z-index:18;
	}
	#tenth_pic {
		background-image: url("../icon/10.png");
		/* background-size: cover; */
		width: 100px;
		height: 100px;
		margin: auto;
		position: absolute;
		top: 1075px;
		left: 26%;
		/* transform: translate(-50%,-50%); */
		z-index:18;
	}
	#eleventh_pic {
		background-image: url("../icon/11.png");
		/* background-size: cover; */
		width: 100px;
		height: 100px;
		margin: auto;
		position: absolute;
		top: 1075px;
		left: 46%;
		/* transform: translate(-50%,-50%); */
		z-index:18;
	}
	#twelfth_pic {
		background-image: url("../icon/12.png");
		/* background-size: cover; */
		width: 100px;
		height: 100px;
		margin: auto;
		position: absolute;
		top: 1075px;
		left: 66%;
		/* transform: translate(-50%,-50%); */
		z-index:18;
	}
	#title_div {
		position: absolute;
		top: 18%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: white;
		border: 3px solid #3498DB;
		font-family: Lucida Console, Courier, monospace;
		font-size: 30px;
		padding: 5px;
		z-index:11;
	}
	#line {
		position: absolute;
		border: 1.5px solid #3498DB;
		top: 25%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 40%;
		z-index:10;
	}
	#slogan {
		position: absolute;
		top: 30%;
		left: 75%;
		transform: translate(-50%,-50%);
		color: white;
		border: 1px solid transparent;
		font-family: Lucida Console, Courier, monospace;
		font-size: 25px;
		width: 100%;
		z-index:11;
	}
	#menu {
		position: absolute;
		top: 270px;
		left: 50%;
		transform: translate(-50%,-50%);
		border: 2px solid rgba(255,255,255,0.5);
		font-size: 25px;
		width: 800px;
		height: 65px;
		background-color: rgba(255,255,255,0.5);
		z-index:12;
	}
	.wrap1 {
		width: 1000px;
		height: 400px;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2px;
		/* margin-top: -20px; */
		z-index:2;
	}
	#div1 {
		position: absolute;
		top: 50%;
		left: 13%;
		transform: translate(-50%,-50%);
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
	}
	#div2 {
		position: absolute;
		top: 50%;
		left: 30%;
		transform: translate(-50%,-50%);
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
	}
	#div3 {
		position: absolute;
		top: 50%;
		left: 47%;
		transform: translate(-50%,-50%);
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
	}
	#div4 {
		position: absolute;
		top: 50%;
		left: 62%;
		transform: translate(-50%,-50%);
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
	}
	#div5 {
		position: absolute;
		top: 31%;
		left: 72%;
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
	}
	.topnav a {
		color: inherit;
		text-decoration: inherit;
	}
	#question {
		position: absolute;
		top: 390px;
		left: 50%;
		transform: translate(-50%,-50%);
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
		font-size: 30px;
	}
	#banana{
		position: absolute;
		top: 600px;
		left: 30%;
		transform: translate(-50%,-50%);
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
		font-size: 20px;
	}
	#soy_bean {
		position: absolute;
		top: 600px;
		left: 50%;
		transform: translate(-50%,-50%);
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
		font-size: 20px;
	}
	#bell_pepper {
		position: absolute;
		top: 600px;
		left: 70%;
		transform: translate(-50%,-50%);
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
		font-size: 20px;
	}
	#carrot {
		position: absolute;
		top: 800px;
		left: 30%;
		transform: translate(-50%,-50%);
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
		font-size: 20px;
	}
	#cheese {
		position: absolute;
		top: 800px;
		left: 50%;
		transform: translate(-50%,-50%);
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
		font-size: 20px;
	}
	#coffee_bean {
		position: absolute;
		top: 800px;
		left: 70%;
		transform: translate(-50%,-50%);
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
		font-size: 20px;
	}
	#egg {
		position: absolute;
		top: 1000px;
		left: 30%;
		transform: translate(-50%,-50%);
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
		font-size: 20px;
	}
	#orange {
		position: absolute;
		top: 1000px;
		left: 50%;
		transform: translate(-50%,-50%);
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
		font-size: 20px;
	}
	#pine_apple {
		position: absolute;
		top: 1000px;
		left: 70%;
		transform: translate(-50%,-50%);
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
		font-size: 20px;
	}
	#rice {
		position: absolute;
		top: 1210px;
		left: 30%;
		transform: translate(-50%,-50%);
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
		font-size: 20px;
	}
	#salmon {
		position: absolute;
		top: 1210px;
		left: 50%;
		transform: translate(-50%,-50%);
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
		font-size: 20px;
	}
	#others {
		position: absolute;
		top: 1210px;
		left: 70%;
		transform: translate(-50%,-50%);
		color:  #2C3E50;
		font-family: Lucida Console, Courier, monospace;
		text-align: center;
		font-size: 20px;
	}
	.div a:hover {
		font-weight: bold;
		font-size: 30px;
	}
	.picture:hover {
		/* Make hover shadow color while hovering pics */
		/* -moz-box-shadow: 0 0 200px #1B4F72;
		-webkit-box-shadow: 0 0 200px #1B4F72;
		box-shadow: 0 0 200px #1B4F72; */

		/* -webkit-transform: scale(1.2);
		transform: scale(1.2); */

		/* Hover change background color */
		/* background-color: #00AADC;
		color: white;
		border-color: #00AADC;
		width: calc(50% - 12px);
		height: calc(35vw + 20px);
		margin: 0px;
		overflow: inherit;
		z-index: 10;
		font-size: 1.15vw;
		box-shadow: 0px 7.5px 7.5px #93AAB6;		 */
		animation: shake 0.5s;
		animation-iteration-count: infinite;
	}

	@keyframes shake {
		0% { transform: translate(1px, 1px) rotate(0deg); }
		10% { transform: translate(-1px, -2px) rotate(-1deg); }
		20% { transform: translate(-3px, 0px) rotate(1deg); }
		30% { transform: translate(3px, 2px) rotate(0deg); }
		40% { transform: translate(1px, -1px) rotate(1deg); }
		50% { transform: translate(-1px, 2px) rotate(-1deg); }
		60% { transform: translate(-3px, 1px) rotate(0deg); }
		70% { transform: translate(3px, 1px) rotate(-1deg); }
		80% { transform: translate(-1px, -1px) rotate(1deg); }
		90% { transform: translate(1px, 2px) rotate(0deg); }
		100% { transform: translate(1px, -2px) rotate(-1deg); }
	  }