body {
font-family: 'IM Fell English SC', serif;
font-family: 'Satisfy', cursive;
font-family: 'Patrick Hand SC', cursive;
font-family: 'Lora', serif;
font-family: 'Inconsolata', monospace;
font-family: 'Lobster', cursive;
/*	background: #6cf;*/

    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}

.container {
	height: 300px;
	width: 700px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: rgba(255, 255, 255, 0.5);
	padding: 20px;
	border: 1px solid #545E75;
	box-shadow: 0 0 14px 7px #fff;
	
}

.title {
	padding: 15px;
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	color: #545E75;
}

.question {
	padding: 10px;
	font-size: 20px;
	background: #545E75;
	margin: 10px 0 10px 0;
	color: #f6f6f6;

}

.option {
	width: 320px;
	display: inline-block;
	padding: 10px 0 10px 15px;
	vertical-align: middle;
	background: rgba(255, 255, 255, 0.5);
	margin: 10px 0 10px 10px;
	color: #545E75;
	cursor: pointer;
}

.option:hover {
	background: #545E75;
	color: #f6f6f6;
}

.next-btn {
	border: none;
	outline: none;
	background: #545E75;
	color:#f6f6f6;
	width: 100px;
	height: 35px;
	cursor: pointer;
	float: right;
	margin: 5px;
	font-family: 'IM Fell English SC', serif;
	font-family: 'Satisfy', cursive;
	font-family: 'Patrick Hand SC', cursive;
	font-family: 'Lora', serif;
	font-family: 'Inconsolata', monospace;
	font-family: 'Lobster', cursive;
	font-size: 18px;
}

.next-btn:hover {
	background: #f6f6f6;
	color: #3F826D;
}

 .result {
 	width: 700px;
	height: 300px;
	text-align: center;
	font-size: 35px;
	vertical-align: middle;
	line-height: 300px;
	color: #545E75;
} 

.option input:checked .option{
	background: #545E75;
	color: #f6f6f6;
}

