* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	background-image: url("../background/kinglanding.png");
	background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center; 
}

h1 {
	margin: 30px;
	text-transform: uppercase;
	font-size: 35px;
}

.wrap {
	position: relative;
	margin: auto;
	padding: 15px;
	max-width: 100%;
	max-height: 100%;
	height: 100%;
	/* border: solid 1px red; */
	text-align: center;
}

.content {
	position: relative;
	overflow: auto;
}

.card-inner {
	position: relative;
}
.card {
	width: 12%;
	display: inline-block;
	padding: 10px;
}

.card-inner img {
	width:100%;
}

.card-inner .front {
	transform: rotateY(180deg);
	position: absolute;
	top: 0;
	left: 0;
}

.rotator {
	width: 100%;
	position: relative;
}

.rotator .front {
	transform: rotateY(0deg);
}

.rotator .back {
	transform: rotateY(180deg);
}

.card-inner .back, .card-inner .front, .card-inner .rotator {
	transition: all 0.5s;
	backface-visibility: hidden;	
}